.editorconfig
.eslintignore
.eslintrc.json
.github/*
.nvmrc
.prettierrc
.vscode/*
CODEOWNERS
coverage/*
jest.config.js
tsconfig.json
tsconfig.release.json
*.md
src/*
examples/*
build/*
tests/*
benchmarks/*
website/*
sponsorkit.*
img/*
*.tgz
website/package.json
tsconfig.package.json
tslint.json
.*
docs/*
examples/README.md